<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon -->
  <!-- Icon - IconMonster -->
  <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
  <!-- Mumble UI -->
  <link rel="stylesheet" th:href="@{/css/uikit/styles/uikit.css}" />
  <!-- Dev Search UI -->
  <link rel="stylesheet" th:href="@{/css/styles/app.css}"/>

  <title>마이페이지</title>
</head>

<body>
<div style="background-color:#0D6EFD; padding:5px 5px 0px 5px;">
  <a class="navbar-brand" href="/"><img src="https://cdn.discordapp.com/attachments/855247460909711370/1022922100094279740/SKILL_-_UP.png" alt=""></a>
</div>

  <!-- Main Section -->
  <main class="settingsPage profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <a class="tag tag--pill tag--main settings__btn" href="#"><i class="im im-edit"></i> Edit</a>
              <img class="avatar avatar--xl dev__avatar" th:src="@{/image/profile.jpg}" />
              <h2 class="dev__name" th:text="${student.nickname}">닉네임</h2>
              <br>
              <p class="dev__title" th:text="|포지션 : ${student.position}|">포지션</p>
              <p class="dev__location" th:text="|학년 : ${student.grade}학년|">학년</p>
            </div>
          </div>
        </div>

        <div class="column column--2of3">
          <br><br><br>
          <div class="settings">
            <h3 class="settings__title">예약 현황</h3>
          </div>

          <table class="settings__table">
            <tr th:if="${student.buildingName != null}" id="bookTr">
              <td class="settings__tableInfo">
                <h4 th:text="|${student.buildingName} ${student.classRoomName}|">강의실</h4>
                <p th:text="|예약 시간 :   ${student.bookStart}|"></p>
              </td>
              <td class="settings__tableActions">
                <a class="tag tag--pill tag--main settings__btn" th:onclick="bookCancel([[${student.id}]])">X</a>
              </td>
            </tr>
            <tr>
              <p th:unless="${student.buildingName != null}">예약 현황이 없습니다.</p>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/book.js}"></script>
</html>