<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>building HTML</title>
</head>
<body>
    <table border="1" className="lectureTable">
        <h2 th:text="${buildingName}"></h2>
        <thead>
            <tr>
                <th>id</th>
                <th>강의실</th>
                <th>층수</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="m : ${classRoom}">
                <td th:text="${m.id}"></td>
                <td th:text="${m.name}"></td>
                <td th:text="${m.floor}"></td>
            </tr>
        </tbody>
    </table>

    <table border="1" className="bookTable">
        <h2 th:text="${book}"></h2>
        <thead>
        <tr>
            <th>id</th>
            <th>날짜</th>
            <th>시작시간</th>
            <th>종료시간</th>
            <th>isProlonged</th>
            <th>강의실</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="n : ${bookList}">
            <td th:text="${n.bookId}"></td>
            <td th:text="${n.bookDay}"></td>
            <td th:text="${n.bookStartTime}"></td>
            <td th:text="${n.bookEndTime}"></td>
            <td th:text="${n.isProlonged}"></td>
            <td th:text="${n.classRoom.name}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>